body {
  color: #665544;
  background-color: #2B363B;
  font-family: Georgia, "Times New Roman", serif;
}

#firstImage {
  border-style: outset;
}

#secondImage {
  border-style: outset;
}

#thirdImage {
  border-style: outset;
}

.intro {
  text-align: center;
  color: #CACDCE;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 20px, 5px, 20px, 5px;
}

.flex-item {
  background-color: #CACDCE;
  padding: 9px;
}

#button {
  display: flex;
  justify-content: center;
  padding: 20px 20px 20px 20px;
}
#results {
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
}

#results:hover {
  transition-duration: 0.5s;
  background-color: black;
  color: #CACDCE;
}

.chart {
  display: flex;
  justify-content: space-around;;
}

canvas {
  display: flex;
}
