#firstImage {
  border-style: outset;
}

#secondImage {
  border-style: outset;
}

#thirdImage {
  border-style: outset;
}

.intro {
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 20px, 5px, 20px, 5px;
}

#button {
  display: flex;
  justify-content: center;
  padding: 20px 20px 20px 20px;
}

#chart {
  display: flex;
  justify-content: space-around;;
}

canvas {
  display: flex;
}
